body {
	background-color: #E0E5EC;
}
html {
	scroll-behavior: smooth;
}
@font-face {
	font-family: 'Pobeda';
	src: url(../fonts/Pobeda.ttf);
}
@font-face {
	font-family: 'Paranema';
	src: url(../fonts/LIBRARY3AM.otf)
}
@font-face {
	font-family: '187';
	src: url(../fonts/187.otf);
}
@font-face {
	font-family: 'SFNS Display';
	src: url(../fonts/SFNS.ttf);
}

h3, p, li {
	font-family: 'Arial'
}
h1 {
	text-align: center;
}
.h1-header {
	font-family: 'Paranema';
	text-align: center;
	font-size: 8em;
	margin-top: 0;
}

h2 {
	margin-left: 2em;
	font-size: 3em
}
.h2-soft-ui {
	font-family: 'Paranema'
}
.h2-redesign {
	font-family: 'Pobeda'
}
.h2-redesign {
	font-family: 'Pobeda';
	font-size: 4em
}
.h2-main-page {
	font-family: 'Paranema';
	font-size: 3em;
	margin-left: 0
}

h3 {
	text-align: center;
	font-size: 1.8em
}
p {
	text-indent: 2em;
	margin-left: 3em;
	margin-right: 3em
}
.p-ctr {
	text-align: center;
	font-size: 1.3em
}
li {
	list-style: none;
}

hr {																				/*Горизонтальная черта*/
	width: 90%;
	height: .15em;
	color: #000;
	background-color: #000;
	border-radius: .2em
}

.hotbox {															/*Основной контейнер с контентом*/
	background-color: #E0E5EC;
	width: 90vw;
	margin: 0 auto;
	border-radius: 1.3em;
	margin-bottom: 1em;
}
.shadow {																		
    background: #fff; 										 		/*Параметры тени для основного контейнера*/
    box-shadow: 0 0 .6em rgba(9, 9, 9, 0.3);
    padding: 12px;
}

.logo {					
	margin-left: 0;
	margin-top: -1em;
	width: 100px;
	text-decoration: none;
	float: left;
}
.logo-redesign {													/*Текст лого-ссылки*/
	font-family: 'SFNS Display';
	font-size: 4.4em;
	display: inline;
}
.a-logo {
	text-decoration: none;
	color: #000
}


		/*Все ссылки*/
.a-resourse {																/*Параметры ссылки на ресурс под статьей*/
	color: #000;
	transition-duration: .3s
}		
.a-resourse:hover {
	color: #FF767D
}	
.a-redesign {
	color: #000;
	transition-duration: .3s
}
.a-redesign {
	color: #000;
	transition-duration: .3s
}
.a-redesign:hover {
	color: #FF767D;
	transition-duration: .3s
}

.redesign-text {
	margin-left: 3em;
}

.button {																	/*Кнопи в меню*/
	text-decoration: none;
	margin: 0 auto;
	font-family: 'Arial';
	font-size: 1.5em;
	margin-left: .5em;
    border-radius: .8em;
    color: white;
    padding: .5em 2em;
    display: inline-block;
    transition-duration: .4s;
    box-shadow: 0 0 0 .05em rgba(9, 9, 9, .1)
}
.button:hover {
	transition-duration: .4s;
	box-shadow: 0 0 .6em rgba(9, 9, 9, 0.6)
}

.img-content {													/*Параметры изображений*/
	display: inline-block;
	border-radius: 1.3em;
}
.img-content-main-page {													/*Параметры изображений*/
	display: inline-block;
	border-radius: 1.3em;
	width: 48%
}
.img-content-soft-ui {
	width: 48%;
	margin-left: 1em;
	border-radius: 1.3em
}